@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-bird-custom: #9CDCE5;
    --bg-gray-custom: #CCE7F2;
    --bg-light-blue-custom: #83CEF0;
    --bg-blue-custom: #02A2ED;
    --bg-navy-custom: #035476;
    --bg-black-custom: #035476;
    --bg-gray-custom-2: #F7F7F7;
}